.form  {
  padding: 3.5rem 3.5rem;
  border-radius: .325rem;
  
  form {
    margin: 0 auto;
    padding: 2rem 4rem;
    max-width: 60%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    text-align: left;
    background-color: #f2f2f2;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 10px 50px;
  }

  h2 {
    text-align: center;
    text-transform: uppercase;
    font-size: 1.5rem;
    color: #131313;
  }
}


@media screen and (max-width: 480px) {
  .form form {
    width: 100%;
  }
}