:root {
  --cor-01: 
  --cor-01: 
  --cor-01: 
  --cor-01: 
  --cor-01: 
  --cor-01: 
}

form {
  margin: 0 auto;
  display: grid;
  justify-content: center;
  width: 100%;
}

.form-container  {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  gap: .5rem;
}


input {
  border: 1px solid #080808;
  color: #252525;
  border-radius: 4px;
  width: 250%;
  height: 40px;
  background-color: #fff;
}