.time {
  padding: 2rem;
  
  h3 {
    align-self: flex-start;

    font-size: 2rem;
    display: inline-block;
    border-bottom: .3rem solid ;
  }

  .time-collaborators {
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
  }
}